BEST_MODEL_BASE_URL=
BEST_MODEL_API_KEY=
BEST_MODEL_NAME=

FAST_MODEL_BASE_URL=
FAST_MODEL_API_KEY=
FAST_MODEL_NAME=

VISION_MODEL_BASE_URL=
VISION_MODEL_API_KEY=
VISION_MODEL_NAME=

OCR_MODEL_BASE_URL=
OCR_MODEL_API_KEY=
OCR_MODEL_NAME=
